.left-col{
    padding: 0px !important;
}
.image{
    height: 100%;
    overflow: hidden;
}

.right-col{
    padding: 200px 100px !important;
    text-align: left;
}

.textinput {
    /* border-radius: 8px; */
    width: 250%;
    padding: 5px;
    margin: 3px 0px;

}